<!DOCTYPE html>
<html>

<head>
    <title>Flask React</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        {%if timestamp%}
        <h3>Last Run: {{timestamp}} </h3>
         {% endif %}
      <!--button type="button" class="btn btn-primary">Primary</button-->
      <div id="main"></div>
    </div>
    <!-- Scripts -->
    <!-- React -->
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
    <!-- Jquery -->
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- Transformer -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <!-- App -->
    <script type="text/babel" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>
